
body.netbeans {

  #page-title {
    h1 {
      background-image: url("/assets/apache-netbeans.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center;
      margin-right: 1em;
      padding-right: 4em;
      @include media ($mobile) {
        min-height: 100px;
      }
    }
  }

  #content {
    h2 {
      color: $base-font-color;
    }
    section {
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
      border-bottom: 1px solid $light-gray;
    }
    .downloads, .legal {
      border-bottom: none;
    }
    .terms, aside {
      font-size: 0.85em;
      color: $medium-gray;
    }

    .rc-announce {
      padding: 0.25em 1em;
      background-color: lighten($action-color, 75%);
    }
    .download-arch {
      h3 {
        margin: 0;
      }
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
      border-bottom: 1px solid $light-gray;
      aside {
        margin-bottom: 1em;
      }
    }

    .hash {
      line-break: anywhere;
      font-size: 0.8em;
      background-color: transparent;
    }

  }

  .btn {
    .fa {
      font-size: 1.2em;
      margin-right: 0.25em;
    }
    .type-arch, .extra-info {
      font-size: 0.75em;
    }
  }

  .site-footer {
    padding-bottom: 80px;
  }

}
